<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/form.css"/>
        <title>Newsletter</title>
    </head>

    <body>
        <form id="form" autocomplete="off">
            <h1>Newsletter Signup</h1>
            <div class="info">
                <input id="firstName" name="firstName" type="text" placeholder="Your First Name" /><br />
                <span id="firstNameErr"></span><br />
                <input id="lastName" name="lastName" type="text" placeholder="Your Last Name" /><br />
                <span id="lastNameErr"></span><br />
                <input id="email" name="email" type="email" placeholder="Your Email" /><br />
                <span id="emailErr"></span><br />
            </div>
            <input id="subscribe" name="subscribe" type="submit" value="Subscribe" />
        </form>
        <script type="text/javascript" src="/script/form.js" ></script>
    </body>
</html>
